{% extends 'base.html' %}

{% block header %}
<div align="center">
  <h1 style="color:yellow">{% block title %}Booking Confirmed{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}

<body background="{{ url_for('static', filename='img/star_background.png') }}">

<div class="container" align="center">
  <div class="panel panel-default" style="width:45%" >
    <div class="panel-body">
      <img class="img-responsive" src="{{ url_for('static', filename='img/celebration.jpg') }}" width="340" alt="celebration_image">
      <p>Notice: image above may not accurately represent your colony experience</p>
      <h3> Your booking is complete! </h3>
      <h4> An email confirmation has been sent to: {{email}} </h4>
      <h4> Thank you for using SolarStart </h4>
    </div>
  </div>
</div>

</body>
{% endblock %}
