{% extends 'base.html' %}

{% block content %}


<div class="image">
<img src="{{ url_for('static', filename='img/solar_system.jpg') }}" usemap="#system-map"/>

<map name="system-map">
    <area alt="mars" title="Mars" href="{{ url_for("colony_ads_index", location="mars") }}" coords="870,351,39" shape="circle">
    <area alt="mercury" title="Mercury" href="{{ url_for("colony_ads_index", location="mercury") }}"  coords="528,502,54" shape="circle">
    <area alt="venus" title="Venus" href="{{ url_for("colony_ads_index", location="venus") }}" coords="633,450,47" shape="circle">
    <area alt="jupiter" title="Jupiter" href="{{ url_for("colony_ads_index", location="jupiter") }}" coords="955,316,41" shape="circle">
    <area alt="uranus" title="Uranus" href="{{ url_for("colony_ads_index", location="uranus") }}" coords="1204,201,34" shape="circle">
    <area alt="neptune" title="Neptune" href="{{ url_for("colony_ads_index", location="neptune") }}" coords="1280,163,32" shape="circle">
    <area alt="moon" title="Moon" href="{{ url_for("colony_ads_index", location="moon") }}" coords="784,301,14" shape="circle">
    <area alt="earth" title="Earth" href="home_page" coords="759,394,71" shape="circle">
    <area alt="saturn" title="Saturn" href="{{ url_for("colony_ads_index", location="saturn") }}" coords="993,290,1061,308,1129,298,1160,278,1170,250,1163,220,1107,206,1071,205,1031,213,984,247,986,237,982,271" shape="poly">
    <area target="" alt="belt" title="Asteroidd Belt" href="{{ url_for("colony_ads_index", location="asteroid_belt") }}" coords="1153,439,1127,469,1088,516,1178,476,1204,439,1213,403,1208,384,1177,380,1153,403" shape="poly">
</map>
</div>
{% endblock %}

