{% extends 'base.html' %}

{% block header %}
<div align="center">
  <h2 style="color:yellow">{% block title %}Your Bookings{% endblock %}</h2>
</div>
{% endblock %}

{% block content %}

<body background="{{ url_for('static', filename='img/star_background.png') }}">
<div align="center">
<div class="panel panel-default" align="center" style="max-width:40%">
{% for booking in bookings %}
<div class="panel-body">
    <a class="thumbnail fancybox" rel="lightbox" href="#" >
      <img src="{{ url_for('static', filename=colonies[booking.colony_id].image) }}" style="max-height:80%" class="img-responsive" />
      <div class="caption">
        <h4><b>{{colonies[booking.colony_id].name}} {{colonies}}</b></h4>
        <p>Booking ID: {{ booking.booking_id }}</p>
        <h4>Spaces Booked: {{ booking.number_of_people }}</h4>
        <h4>Total Cost: C${{ booking.total_cost }}</h4>
      </div>
    </a>
</div>
{% endfor %}
</div>
</div>
</body>
{% endblock %}
